@font-face {
    font-family: 'Robotoo';
    font-style: normal;
    font-weight: 400;
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Roboto-Regular.ttf'); 
   }

@font-face {
    font-family: 'RobotooBold';
    font-style: normal;
    font-weight: 700;
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Roboto-Bold.ttf'); 
}


.contenedor-extension{
    display: flex;
    background: #F71963;
    border-radius: 100%;
    padding: 0.5rem;
    position: fixed;
    bottom: 1.5rem;
    left: 2rem;
    z-index: 9999999999999999999;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    transition: all .25s ease;
    text-transform: none;
    letter-spacing: 0;
    cursor: pointer;
}

.contenedor-extension.producto{
    bottom: 5rem;
}

.contenedor-extension .descripcion{
    width: 200px;
    position: absolute;
    left: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0rem 12px 1rem;
    font-size: 0.8rem;
    color: rgb(63, 63, 64);
    font-family: 'Robotoo';
    background: #fff;
    border-right: 2px solid #F71963;
    box-shadow: rgb(0 0 0 / 7%) 0px 1px 2px, rgb(0 0 0 / 7%) 0px 2px 4px, rgb(0 0 0 / 7%) 0px 4px 8px, rgb(0 0 0 / 7%) 0px 8px 16px, rgb(0 0 0 / 7%) 0px 16px 32px, rgb(0 0 0 / 7%) 0px 32px 64px;
    opacity: 0;
    transition: all .25s ease;
    pointer-events: none;
}

.contenedor-extension .descripcion img{
    width: 10px;
    margin-left: 0.25rem;
    margin-top: -3px;
    margin-right: 1rem;
}

.contenedor-extension:hover .descripcion{
    opacity: 1;
}

.contenedor-extension.context{
    bottom: 12rem;
}

.contenedor-extension.sku, .contenedor-extension.orderform{
    bottom: 8.5rem;
    cursor: pointer;
}

.contenedor-extension.orderform{
    bottom: 5rem;
}

.contenedor-extension.checkout, .contenedor-extension.orderform{
    width: 28px;
    height: 28px;
}

.contenedor-extension:hover{
    transform: scale(1.10);
}

.contenedor-extension img{
    width: 80%;
}

div.contenedor-json-renderer{
    right: -40%;
    top: 0;
    width: 38%;
    max-height: 100%;
    padding: 0;
}

#json-updater{
    position: sticky;
    top: 0;
    width: 100%;
    background: #F71963;
    color: #fff;
    border: none;
    padding: 0.5rem 0;
    transition: all .25s ease;
    font-family: 'Robotoo';
    z-index: 2;
}

#json-updater:hover{
    background: #df1155
}

#checkoutMainContainer .contenedor-extension.pagina{
    display: none;
}

div.contenedor-json-renderer.activo{
    right: 0;
}

.listado-skus, .contenedor-json-renderer, .listado-context{
    text-transform: none;
    letter-spacing: 0;
    display: block;
    position: fixed;
    right: -50%;
    top: 0;
    width: 30%;
    height: 100%;
    z-index: 5000000;
    overflow-y: scroll;
    background: #fff;
    transition: all .25s ease;
    border-left: 2px solid #F71963;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
}

.listado-skus.activo, .listado-context.activo{
    right: 0;
}

.datos-contexto{
    color: rgb(63, 63, 64);
    font-family: 'Robotoo';
    padding: 0rem 1.4rem;
    font-size: 0.8rem;
    margin-top: 1.2rem;
}

.datos-contexto ul{
    list-style-type: none;
    padding-left: 0;
}

.datos-contexto .data-list{
    margin-bottom: 1.5rem;
}

.datos-contexto .data-key{
    display: block;
    color: rgb(247, 25, 99);
    font-weight: 700;
    margin-bottom: .5rem;
}

.datos-contexto .data-array-item{
    margin-bottom: .5rem;
    margin-top: 0;
}

.datos-contexto .data-array-item-title{
    font-weight: 700;
}

.datos-contexto a{
    color: #000;
    font-weight: 700;
    transition: all .25s ease;
}

.datos-contexto a:hover{
    color: #F71963;
}

.listado-skus .sku-particular{
    font-family: sans-serif;
    font-size: 0.8rem;
    border-bottom: 1px solid #eee;
    padding: .5rem 1.5rem;
    transition: all 0.25s ease;
}

.listado-skus .sku-particular a{
    display: flex;
    font-family: 'Robotoo';
    align-items: center;
    justify-content: space-between;
    color: #3f3f40;
    text-decoration: none;
}

.listado-skus .sku-particular:hover{
    background-color: #eee;
}

.listado-skus .sku-particular a img{
    width: 60px;
    border-radius: 0.5rem;
    margin-left: 1.2rem;
}

.listado-skus .sku-particular a img.false{
    opacity: 0.25;
}

.listado-skus .sku-particular .sku-availability{
    display: block;
    margin-top: 0.5rem;
}


.listado-skus .close-container, .listado-context .close-container{
    font-family: 'Robotoo',sans-serif;
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0;
    background: #fff;
    padding: 0.5rem 1.4rem;
    border-bottom: 1px solid #eeee;
    font-weight: 400;
    font-size: 0.9rem;
    cursor: pointer;
    z-index: 2;
}

.close-container span{
    color: #3f3f40;
    font-weight: 700;
}

.close-container img{
    width: 12px;
    padding: 10px;
    transition: all .25s ease;;
}

.close-container img:hover{
    transform: scale(1.1)
}


.listado-skus::-webkit-scrollbar-track, .listado-context::-webkit-scrollbar-track , .contenedor-json-renderer::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
}

.listado-skus::-webkit-scrollbar, .listado-context::-webkit-scrollbar , .contenedor-json-renderer::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.listado-skus::-webkit-scrollbar-thumb, .listado-context::-webkit-scrollbar-thumb , .contenedor-json-renderer::-webkit-scrollbar-thumb
{
	background-color: #ccc;
}

.render-provider{
    transition: opacity .25s ease;
}

.out-of-focus{
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}
