@font-face {
    font-family: 'Robotoo';
    font-style: normal;
    font-weight: 400;
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Roboto-Regular.ttf'); 
   }

@font-face {
    font-family: 'RobotooBold';
    font-style: normal;
    font-weight: 700;
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Roboto-Bold.ttf'); 
}


.contenedor-extension{
    display: flex;
    background: #F71963;
    border-radius: 100%;
    padding: 0.5rem;
    position: fixed;
    bottom: 1.5rem;
    left: 2rem;
    z-index: 9999999999999999999;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    transition: all .25s ease;
}

.contenedor-extension.producto{
    bottom: 5rem;
}

.contenedor-extension .descripcion{
    width: 200px;
    height: 39px;
    position: absolute;
    left: 3rem;
    display: flex;
    align-items: center;
    padding: 0.5rem 0rem 0.5rem 1rem;
    font-size: 0.8rem;
    color: rgb(63, 63, 64);
    font-family: 'Robotoo';
    background: #fff;
    border-left: 2px solid #F71963;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    box-shadow: rgb(0 0 0 / 7%) 0px 1px 2px, rgb(0 0 0 / 7%) 0px 2px 4px, rgb(0 0 0 / 7%) 0px 4px 8px, rgb(0 0 0 / 7%) 0px 8px 16px, rgb(0 0 0 / 7%) 0px 16px 32px, rgb(0 0 0 / 7%) 0px 32px 64px;
    opacity: 0;
    transition: all .25s ease;
    pointer-events: none;
}

.contenedor-extension:hover .descripcion{
    opacity: 1;
}

.contenedor-extension.sku, .contenedor-extension.orderform{
    bottom: 8.5rem;
    cursor: pointer;
}

.contenedor-extension.orderform{
    bottom: 5rem;
}

.contenedor-extension.checkout, .contenedor-extension.orderform{
    width: 28px;
    height: 28px;
}

.contenedor-extension:hover{
    transform: scale(1.10);
}

.contenedor-extension img{
    width: 80%;
}

div.contenedor-json-renderer{
    left: -40%;
    top: 1rem;
    width: 38%;
    max-height: 100%;
    padding: 0;
    bottom: 9rem;
}

#json-updater{
    position: sticky;
    top: 0;
    width: 100%;
    background: #F71963;
    color: #fff;
    border: none;
    padding: 0.5rem 0;
    transition: all .25s ease;
    font-family: 'Robotoo';
}

#json-updater:hover{
    background: #df1155
}

#checkoutMainContainer .contenedor-extension.pagina{
    display: none;
}

div.contenedor-json-renderer.activo{
    left: 2.5rem;
}

.listado-skus, .contenedor-json-renderer{
    display: block;
    position: fixed;
    left: -30%;
    bottom: 12rem;
    width: 30%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-height: calc(100% - 13rem);
    z-index: 5000000;
    overflow-y: scroll;
    background: #fff;
    transition: all .25s ease;
    border-left: 2px solid #F71963;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
}

.listado-skus.activo{
    left: 5.2rem;
}

.listado-skus .sku-particular{
    font-family: sans-serif;
    font-size: 0.8rem;
    border-bottom: 1px solid #eee;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}

.listado-skus .sku-particular:first-child{
    margin-top: 1.5rem;
}

.listado-skus .sku-particular a{
    display: flex;
    font-family: 'Robotoo';
    align-items: center;
    color: #3f3f40;
    text-decoration: none;
    transition: all 0.25s ease;
}

.listado-skus .sku-particular a:hover{
    color:#F71963;
}

.listado-skus .sku-particular a img{
    width: 60px;
    border-radius: 0.5rem;
    margin-left: 1.2rem;
}

.listado-skus .sku-particular a img.false{
    opacity: 0.25;
}

.listado-skus .sku-particular .sku-availability{
    display: block;
    margin-top: 0.5rem;
}


.listado-skus::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
}

.listado-skus::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.listado-skus::-webkit-scrollbar-thumb
{
	background-color: #ccc;
}

